<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Blog</title>
  </head>
  
  <body>
    <div class="container">
      <br />
      <h2 class="mb-1"><%= article.title %></h2>
      <br />
      <p class="mb-1">Description: <%= article.description %></p>
      <p class="mb-1">Author: <%= article.author %></p>
      <p class="mb-1">Published on: <%= article.createdAt %></p>
      <br />
      <p>Blog Content:<br /></p>
      <div><%- article.blog %></div>
    </div>
  </body>
</html>
